* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.agentname {
    font-size: 30px !important;
}

body {
    color: white;
    font-family: 'Mona12', sans-serif;
    background: url(../../img/img_home/valorantbak.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: brightness(0.3);
}


.backgroundblur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: row;
}

.logo {
    margin-top: 20px;
}

.agentbox {
    margin-left: 90px;
    width: 400px;
    position: relative;
    z-index: 2;
    margin-top: 10px;
}

.rolelogo {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: slide 0.6s forwards;
}

.rolebox {
    margin-top: 60px;
    width: 500px;
    height: 660px;
    background: linear-gradient(to bottom, black, #2b2b2b);
    margin-left: 780px;
    border-radius: 10px;
}

.sulbox {
    position: absolute;
    left: 150px;
    bottom: 75px;
    width: 700px;
    height: 340px;
    border: rgb(139, 139, 139) 2px solid;
    z-index: 3;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(to bottom, black 40%, rgba(147, 147, 147, 0.2));
    animation: slide 1.5s;
}

.skillbox {
    display: flex;
    justify-content: center;
}

.skilltext_ {
    font-size: 13px;
    margin-left: 20px;
}

.sulbox header {
    box-sizing: border-box;
    margin: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px;
}

.sulbox2 {
    position: absolute;
    left: 0;
    top: -280px;
    width: 700px;
    height: 250px;
    border: rgb(139, 139, 139) 2px solid;
    z-index: 3;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(to bottom, black 40%, rgba(76, 76, 76, 0.5));
    animation: slide 1.5s;
}

.sulbox,
.sulbox2 header {
    box-sizing: border-box;
    margin: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px;
}

.logo {
    margin-top: 20px;
    margin-left: 10px;
}

.minisul {
    margin: 5px;
    padding: 5px;
    margin-top: 35px;
    text-align: start;
}

.skillimg {
    width: 80px;
    margin-top: 30px;
    border-radius: 5px;
}

.img:hover {
    filter: brightness(0.5);
}

.realrolebox {
    opacity: 0;
    animation: slide 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    text-align: center;
}

.country {
    width: 30px;
}

.naedragon1,.naedragon2,.naedragon3,.naedragon4,.naedragon5,.hometown_ {
    display: flex;
    justify-items: flex-start;
    margin-bottom: 15px;
}

.hometown_ {
    display: flex;
    justify-items: flex-start;
}

.sun {
    width: 250px;
    border-right: solid 1px white;
}

.hu {
    margin-left: 20px;
}

.hu_ {
    margin-left: 10px;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
