*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mona12', sans-serif;
    background: linear-gradient(to bottom, #000000,#570000);
    color: white;
}
.J{
    margin: 0;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 35px;
}
.sul{
    font-size: 20px;
    margin-left: 100px;
    line-height: 1.5;
}
.sul2{
    margin-left: 330px;
    line-height: 1.5;
}
.box,.box2,.box3,.box4,.box5,.box6{
    display: flex;
    justify-content: center;

    
}
.box2,.box3,.box4,.box5,.box6{
    margin-bottom: 80px;
}

.two{
    margin-left: 330px;
}
.gun{
    margin: 20px;
}
.gun img{
    width: 400px;
    height: 300px;
    border: 5px solid rgb(27, 27, 27);
    border-radius: 5%;
}
.img{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 20px;
}
a{
    color: inherit;
}